@font-face {
  font-family: 'OpenSans';
  src: url('/sources/fonts/OpenSans-Regular.woff') format('woff'), /* Modern Browsers */
       url('/sources/fonts/OpenSans-Regular.ttf')  format('truetype') /* IE, Safari, Android, iOS */
}

@font-face {
  font-family: 'OpenSans';
  src: url('/sources/fonts/OpenSans-Bold.woff') format('woff'),
       url('/sources/fonts/OpenSans-Bold.ttf')  format('truetype');
  font-weight: bold;
}

body {
  font-family: 'OpenSans', sans-serif;
  margin: 0;
  padding: 0;
}

h1, h2, h3 {
  margin: 0;
  padding: 0;
}

p {
  margin-left: 20px;
  margin-right: 20px;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.container > div {
  flex-basis: 100%;
  margin: 0;
  padding: 0;
}

.logo {
  background: url('/img/logo_w.png') center center no-repeat;
  position: absolute;
  top: 33px;
  left: 0px;
  height: 36px;
  margin: 0 auto;
  width: 100%;
}

h1, h2, h3 {
  text-transform: uppercase;
  font-weight: bold;
}

h2 {
  margin: 8px 20px 0;
  font-size: 46px;
  color: #e7e7e7;
}

h3 {
  margin: 0 20px 0;
  font-size: 28px;
  color: #c1c1c1;
}

h3 .enum {
  display: block;
  float: left;
  width: 17px;
  margin: 7px 6px 0;
  border-bottom: 4px solid #5e42b0;
  font-size: 0.5em;
  color: #000000;
}

#h1-1 {
  top: 206px;
  left: 20px;
  position: absolute;
}

#h1-2 {
  top: 256px;
  left: 66px;
  position: absolute;
}

/* Header */

.block-header {
  height: 560px;
  background: url('/img/bg-01_320.png');
  background-size: contain;
  background-color: #1c1f40;
  color: #FFFFFF;
}

.downloads {
  position: absolute;
  top: 400px;
  margin-left: 20px;
  margin-right: 20px;
  width: calc(100% - 40px);
}

button {
  background-color: #5e42b0;
  border-radius: 18px;
  border: 0px;
  height: 36px;
  width: 100%;
  font-size: 8px;
  text-transform: uppercase;
  color: #FFFFFF;
}

button:nth-child(2) {
  margin-top: 1em;
}

button svg {
  height: 22px;
  display: block;
  float: left;
  margin-right: 0.8em;
}

.downloads .get-on {
  width: 104px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

.downloads .store-name {
  font-weight: bold;
  display: block;
}

/* Athlets */

.block-athlets img {
  position: absolute;
  left: 22%;
  margin-top: 8px;
  z-index: 10;
}

.block-athlets .white {
  height: 296px;

}

.block-athlets .grey1 {
  position: relative;
  background-color: #fafafa;
  padding-top: 76px;
  padding-bottom: 40px;
}

@media (max-width: 640px) {
  body {
    font-size: 14px;
  }
}

@media (min-width: 641px) and (max-width: 960px) {
  
}

@media (min-width: 961px) and (max-width: 1919px) {
  
}

@media (min-width: 1920px) {

}