@font-face {
  font-family: 'OpenSans';
  src: url('../sources/fonts/OpenSans-Regular.woff') format('woff'), /* Modern Browsers */
       url('../sources/fonts/OpenSans-Regular.ttf')  format('truetype') /* IE, Safari, Android, iOS */
}

@font-face {
  font-family: 'OpenSans';
  src: url('../sources/fonts/OpenSans-Bold.woff') format('woff'),
       url('../sources/fonts/OpenSans-Bold.ttf')  format('truetype');
  font-weight: bold;
}

body {
  font-family: 'OpenSans', sans-serif;
  margin: 0;
  padding: 0;
}

h1, h2, h3 {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-weight: bold;
}

p {
  margin-left: 20px;
  margin-right: 20px;
  font-size: 15px;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.container > div {
  flex-basis: 100%;
  margin: 0;
  padding: 0;
}

.logo {
  position: relative;
  width: 126px;
}

.header .logo {
  margin: 33px auto;
} 

.footer .logo {
  margin: 80px auto 0;
}

h2 {
  margin: 8px 20px 0;
  font-size: 50px;
  color: #e7e7e7;
}

h3 {
  margin: 0 20px 0 0;
  font-size: 27px;
  color: #c1c1c1;
}

/* Header */

.header {
  background-size: cover;
  background-position: center;
  background-color: #1c1f40;
  color: #FFFFFF;
}

.header h1 {
  top: 206px;
  left: 20px;
}

.downloads {
  position: absolute;
  top: 400px;
  margin-left: 20px;
  margin-right: 20px;
  width: calc(100% - 40px);
}

button {
  background-color: #5e42b0;
  border-radius: 18px;
  border: 0px;
  height: 32px;
  width: 100%;
  font-size: 7px;
  text-transform: uppercase;
  color: #FFFFFF;
}

button:nth-child(2) {
  margin-top: 14px;
}

button svg {
  display: block;
  float: left;
  position: relative;
  top: -3px;
  height: 22px;
  margin-right: 0.8em;
}

.downloads .get-on {
  width: 104px;
  margin: 3px auto 0;
  text-align: left;
}

.downloads .store-name {
  font-weight: bold;
  display: block;
  margin-top: 1px;
}

/* Athlets */

.block-athlets img {
  position: absolute;
  z-index: 10;
}

.img-paragraph {
  height: 302px;
}

.enum {
  display: block;
  float: left;
  width: 17px;
  margin: 7px 6px 0 20px;
  border-bottom: 4px solid #5e42b0;
  font-size: 14px;
  font-weight: bold;
  color: #000000;
}

.enum-purple {
  color: #5e42b0
}

.enum-under-invert {
  border-bottom-color: #FFFFFF
}

.grey1 {
  background-color: #fafafa;
}

.grey2 {
  background-color: #f5f4f9;
}

.purple {
  background-color: #5e42b0;
  color: #ffffff;
}

.paragraph {
  position: relative;
  padding-top: 52px;
  padding-bottom: 36px;
}

p {
  line-height: 18px;
}

/* first paragraph has bigger top padding */
.paragraph.first-paragraph {
  padding-top: 72px;
}

/* Players */

.block-players img {
  position: absolute;
  margin-top: 8px;
  z-index: 10;
  max-width: 100%;
}

.dark-purple {
  background-color: #090c35;
  color: #ffffff;
}

/* Suggestions */

.suggestions img {
  object-fit: cover;
  width: 100%;
  max-width: 320px;
  height: 351px;
}

.enum-container-outer {
  height: 0;
  float: left;
}

.enum-container {
  position: relative;
  top: -83px;
  left: 20px;
  width: 70px;
  height: 70px;
  background-color: #5e42b0;
}

.suggestions .enum {
  color: #ffffff;
  border-color: #8d7ac7;
  margin-top: 22px;
  margin-left: 27px;
}

.suggestions h3 {
  margin: 20px 20px 0;
  color: #e7e7e7;
}

.text-holder p {
  margin: 12px 20px 77px 20px;
}

/* Footer */

.footer {
  height: 568px;
  background: url('../img/footer_bg_320.png');
  background-size: contain;
  background-color: #1c1f40;
  color: #FFFFFF;
}

.artwork {
  position: relative;
  width: 74px;
  height: 74px;
  margin: 100px auto 0;
  background: linear-gradient(to bottom, #7756d7, #50379a);
  border-radius: 10px;
}

.inner-artwork {
  position: relative;
  top: 9px;
  width: 62px;
  margin: 0 auto;
}

.download-app {
  margin-top: 50px;
  text-align: center;
  font-size: 32px;
}

.sub-download-app {
  margin: 0 20px;
  text-align: center;
  font-weight: normal;
  font-size: 14px;
  color: #9b8ec1;
}

.footer .downloads {
  position: relative;
  top: 0px;
  margin-top: 70px;
}

@media (max-width: 640px) {
  body {
    font-size: 14px;
  }

  /* Header */

  .header {
    height: 560px;
    background-image: url('../img/header_bg_320.png');
  }

  #h1-1 {
    top: 206px;
    left: 20px;
  }

  #h1-2 {
    top: 256px;
    left: 66px;
  }

  /* Athletes */

  .block-athlets img {
    left: 22%;
    margin-top: 8px;
  }
}

@media (min-width: 641px) and (max-width: 960px) {

  /* Header */

  .header {
    height: 960px;
    background-image: url('../img/header_bg_768.png');
  }

  h1 {
    font-size: 63px;
  }

  #h1-1 {
    top: 250px;
    left: 12%;
    position: absolute;
  }

  #h1-2 {
    top: 328px;
    left: 25%;
    position: absolute;
  }

  .block-athlets img {
    /*left: 22%;
    margin-top: 8px;*/
  }
}

@media (min-width: 961px) {
  /* Header */

  .header {
    height: 960px;
    background-image: url('../img/header_bg_1920.png');
  }
}

@media (min-width: 1921px) {
  .container {
    width: 1920px;
    margin: 0 auto;
  }
}